<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhsz.bandian.sys.mapper.ParamMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lhsz.bandian.sys.entity.Param">
        <id column="param_id" property="paramId" />
    <result column="creation_time" property="creationTime" />
    <result column="creator_id" property="creatorId" />
    <result column="last_modification_time" property="lastModificationTime" />
    <result column="last_modifier_id" property="lastModifierId" />
    <result column="is_deleted" property="isDeleted" />
    <result column="version" property="version" />
        <result column="param_name" property="paramName" />
        <result column="param_title" property="paramTitle" />
        <result column="param_value" property="paramValue" />
        <result column="param_type" property="paramType" />
        <result column="sort_id" property="sortId" />
        <result column="is_edit" property="isEdit" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        creation_time,
        creator_id,
        last_modification_time,
        last_modifier_id,
        is_deleted,
        version,
        param_id, param_name, param_title, param_value, param_type, sort_id, is_edit
    </sql>

</mapper>
