<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhsz.bandian.sys.mapper.PermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lhsz.bandian.sys.entity.Permission">
        <id column="permission_id" property="permissionId" />
    <result column="creation_time" property="creationTime" />
    <result column="creator_id" property="creatorId" />
    <result column="last_modification_time" property="lastModificationTime" />
    <result column="last_modifier_id" property="lastModifierId" />
    <result column="is_deleted" property="isDeleted" />
    <result column="version" property="version" />
        <result column="role_id" property="roleId" />
        <result column="resource_id" property="resourceId" />
        <result column="is_deny" property="isDeny" />
        <result column="sign" property="sign" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        creation_time,
        creator_id,
        last_modification_time,
        last_modifier_id,
        is_deleted,
        version,
        permission_id, role_id, resource_id, is_deny, sign
    </sql>

</mapper>
